/* dark background */
#coachOverlay{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.7);
  z-index:9999;
  display:none;
}

/* glowing highlight box */
#highlight{
  position:absolute;
  border:3px solid #2A9D8F;
  border-radius:10px;
  box-shadow:0 0 20px #2A9D8F;
}

/* tutorial message box */
#coachBox{
  position:absolute;
  width:250px;
  background:#D8F3DC;
  padding:15px;
  border-radius:10px;
  color:#0F3D3E;
}